body {
background-color: blueviolet;
text-align: center;
}
p {
    color: aquamarine;
}
h1 {
    font-style: italic;
}
.p2 { 
    color: brown;
    font-size: 20%;
}
.nome foto  { 
    width: 50%
    text
}